[2013-06-18 18:21] aKhullar opened #1 "TemporalSample-"All" function button does not return any results."
The "All" function button in the sample does not display any results.

Steps to reproduce:-
Open the "Temporal" Sample in xcode.
Run the sample and click on the "All" button at the bottom on the map.
No results are returned for the earthquakes

[2013-06-18 18:26] aKhullar opened #2 "SketchLayerSample-"location" button disables other functions in the sample"
Clicking the "location" button disables the "point, line and polygon" buttons in the sample.
Steps to reproduce:-
Open the SketchLayerSample in xcode
Run the sample and click on the "location" button
![sketchlayersample](https://f.cloud.github.com/assets/4700055/671511/e2d0a73a-d85d-11e2-890a-ea02c9b6371c.png)

On click, the other operations ( sketching point, line and polygon) buttons are disable

[2013-06-18 21:38] aKhullar opened #3 "WebMapSample-Callout button displays no result"
The Callout button in the WebMapSample  displays no result.

Steps to reproduce:-
Open the WebMapSample in xcode and run the sample.
Log-in to the "private" webmap.
Select a feature on map and click on it.
Click on the callout button- it returns no results.

![webmapsample_issue](https://f.cloud.github.com/assets/4700055/671563/69af3f4a-d85f-11e2-92ac-aac2ae886c4e.png)

[2013-07-29 20:20] dg0yal opened #4 "PoupSample - The callout accessory button disappears and doesn't re-appear if you tap somewhere where there are no features (ocean)"

[2013-08-06 23:45] aKhullar opened #5 "Temporal Sample data for a day earlier does not show up"
Temporal Sample issue -build 333: The data of the earthquakes for a day earlier does not show up.
![screen shot 2013-08-06 at 3 51 10 pm](https://f.cloud.github.com/assets/4700055/921253/24a98af4-fef2-11e2-949d-da5a53c13fa8.png)

[2013-08-07 00:01] #5 closed, assigned to dg0yal

[2013-08-15 22:35] #1 closed, assigned to dg0yal

[2013-09-13 20:25] alpascual opened #6 "Migrate from arcgisonline URL"
Samples that use arcgisonline urls should be migrated to the new tasks at arcgis.com
@dg0yal

[2013-10-16 23:35] #2 closed, assigned to dg0yal

[2013-10-16 23:40] #4 closed, assigned to nobody

[2013-10-17 00:14] #3 closed, assigned to dg0yal

[2013-10-17 23:49] alpascual opened #10 "Branch tile sample"
ViewController.m Line 62 still points to a proxy server not the mapservcer
http://63.241.159.63:6080/arcgis/rest/services/World_Street_Map/MapServer

[2013-10-23 02:22] #10 closed, assigned to nobody

[2013-10-23 02:23] dg0yal opened #11 "Add capability checks to OfflineFeatureEditing sample"
canCreate, canUpdate, canDelete, etc
isSyncEnabled, etc

[2013-12-04 19:21] dg0yal opened #13 "Update TOC & Legend sample to use AGSMapContentsTree"
AGSMapContentsTree is a convenience class added at 10.2

[2014-02-20 01:02] aKhullar opened #14 "OfflineRoutingSample-Error while adding a stop and reorder"
Adding a stop on map and clicking "reorder" function causes Error:- Solve route failed.
Steps to repro:-
Deploy OfflineRoutingSample
Add ONE stop on the map
Click "Reorder"
Error:- Solve route failed: ErrorDomain=com.esri.arcgis.runtime.errorcode=10004 "Invalid route task parameters".

Requires a user friendly error message.

[2014-02-20 01:19] #14 closed, assigned to nobody

[2014-02-25 00:35] dg0yal opened #15 "Remove synthesize directives"
These are no longer necessary with XCode 4.4+

[2014-03-18 23:51] dg0yal opened #17 "Address warnings related to 64-bit"

[2014-03-18 23:51] dg0yal opened #18 "Migrate nibs to storyboards"

[2014-03-19 17:02] dg0yal opened #19 "Sample showing how to implement a custom datasource for map's location display"
For example, a datasource that pulls data from mapmyrun and navigate along your recent runs.

[2014-03-19 17:40] dg0yal opened #20 "Sample showing how to use client-side popups"
We have a sample showing how to display popups defined in a webmap.
This sample should show how to display popups defined in code. For example, pull information from FourSquare or Yelp about local restaurants and display details in a popup.

[2014-03-22 01:34] dg0yal opened #26 "Sample showing different renderers"
Need a sample showing code for different types of renderers.
- [x] Simple Renderer
- [x] Unique Value Renderer
- [x] Class Breaks Renderer
- [x] ~~Rotation Renderer~~ No such renderer.

[2014-03-22 01:36] dg0yal opened #27 "Add capability to resume jobs"
The SDK keeps track of jobs in progress. This is useful if the app is terminated before the job completes. Need to enhance existing samples to show how developers can resume jobs when the app restarts.
- [ ] Download Tile Cache Sample
- [ ] Offline Feature Editing Sample

[2014-03-31 04:38] dg0yal opened #40 "Add Generalize operation to Geometry Sample"
for v10.2.3

[2014-04-07 19:35] dg0yal opened #47 "Add sample for web tiled layer"

[2014-04-07 19:36] dg0yal opened #48 "Add sample for switching basemaps"

[2014-04-15 15:28] singhgag opened #56 "Add description for the FindTaskSample"
There is no description for the FindTaskSample in the git repository.

[2014-04-21 10:44] hanchao opened #58 "render many Graphic in GraphicsLayer"
I put many Graphic(20,000 polygons) into GraphicsLayer, then received memory warning.  how can I render so many Graphic?

[2014-05-28 21:22] nixta opened #62 "Provide sample TPK in Web Mercator"
The [San Francisco sample TPK](https://github.com/Esri/arcgis-runtime-samples-ios/blob/master/Data/tile%20package/SanFrancisco.tpk) is currently in WGS84. This looks decidedly odd to anyone used to seeing online maps these days.

Would be great to provide a Web Mercator version.

[2014-08-22 06:38] bhaveshvirani63 opened #63 "ArcGIS.bundle framework not found and give me link for it"

[2014-09-09 12:44] ojbgame opened #64 "Request for a sample to add a WMTS layer to mapview"

[2014-09-09 12:45] ojbgame opened #65 "Request for a sample to use AGSMapContents class"

[2014-10-07 20:37] #15 closed, assigned to singhgag

[2014-10-07 20:37] #17 closed, assigned to singhgag

[2014-10-07 20:37] #18 closed, assigned to singhgag

[2014-10-07 20:40] singhgag opened #66 "Change the size of callout view to avoid abrupt resizing in Popup Sample"

[2014-10-21 22:49] singhgag opened #69 "Add sample for generate renderer task"

[2014-12-13 00:36] dg0yal opened #80 "Obj-c : Closest Facility Sample changes"
- update string "search for closest facility" to "searching*"
- remove #warning
- Update app name

[2014-12-13 00:38] dg0yal opened #81 "Consolidate all 3'rd party components"
Currently, all samples have their own copy of the 3'rd party component.
It will be good to move all into a top-level folder and then reference from each sample

[2014-12-18 18:08] #69 closed, assigned to singhgag

[2014-12-18 18:08] #48 closed, assigned to singhgag

[2014-12-29 18:40] alpascual opened #85 "OfflineFeatureEditing swift version missing storyboard"
After downloading the geodatabase, the user clicks the + button to add a new feature and get the error:
NSInvalidArgumentException', reason: 'Could not find a storyboard named 'Offline Feature Editing' in bundle NSBundle
@singhgag @dg0yal

[2015-01-08 22:36] singhgag commented on #85
@dg0yal seems like the name of the storyboard was changed to Main.storyboard. Fixed it and a couple of other issues.

[2015-01-08 22:37] singhgag commented on #85
Created a PR

[2015-01-08 22:43] dg0yal commented on #85
@alpascual Pl. verify

[2015-01-13 01:02] #85 closed

[2015-01-27 01:07] nixta opened #104 "Online Feature Layer Editing sample not reading Status field domain"
In the [Feature Layer Editing Sample](https://github.com/Esri/arcgis-runtime-samples-ios/tree/master/FeatureLayerEditingSample) (swift and objective-c) the editor is not reading the `Status` field's domain.

I see that the field is set to `New` for example…

![2015-01-26_20-02-12](https://cloud.githubusercontent.com/assets/25374/5911667/b75554b8-a596-11e4-8656-6973e88314dc.png)

…but when I tap it

[2015-01-27 06:35] dg0yal commented on #104
Thanks for reporting. This appears to be a bug in the popup. We'll look into it

[2015-03-06 00:22] dg0yal opened #105 "iOS 8 - Add permission to post local notification"
iOS 8 requires developers to use this - https://developer.apple.com/library/ios/documentation/UIKit/Reference/UIApplication_Class/#//apple_ref/occ/instm/UIApplication/registerUserNotificationSettings:

We need to update the samples that post local notifications
- DownloadTileCache
- OfflineFeatureEditing

[2015-03-13 23:12] singhgag commented on #105
Done.

@dg0yal please verify.

Pull request: https://github.com/Esri/arcgis-runtime-samples-ios/pull/107

[2015-08-20 07:03] sabby3861 opened #115 "Issue in accessing rest API"
I am trying to use the rest API for arcgis. This api is in already developed project. The time I am consuming it is showing NSURLErrorDomain -1005.
I think this api is deployed in rest server. Can you please help me in resolving this issue.
Below is the one of the API used in the project and I don't have any access to the developer who has already used this API.
http://services1.arcgis.com/ImVsa1a

[2015-08-20 15:59] nixta commented on #115
Can you be more specific about how this relates to this repo?

If it's not, you should ask the question over on [GeoNet's iOS SDK Forum](https://geonet.esri.com/community/developers/native-app-developers/arcgis-runtime-sdk-for-ios/content).

If you do that, please provide more info though. For example: Does the other project still work? What are you trying to do with the service?

[2015-09-03 17:10] singhgag commented on #105
@dg0yal can we close this?

[2015-09-03 17:40] dg0yal commented on #105
Yes. Closed.

[2015-09-03 17:40] #105 closed

[2015-10-04 00:11] chriscamed opened #128 "Load ArcGIS shapefiles (.shp) as layers"
It would be great to include the feature of loading shapefiles as layers. ArcGIS SDK for Android has this functionality with this method: public ShapefileFeatureTable(@NotNull String pathToShapeFile)

[2015-12-09 11:12] albavoli opened #133 "ArcGIS issue"
i have installed ArcGIS framework base on https://developers.arcgis.com/ios/guide/install.htm

but the build failed and doesn't recognise arcgis varaibles.
What is the problem i am using xcode 7

[2015-12-09 16:12] singhgag commented on #133
Did you include the framework into your project after installing the SDK? The steps are elaborated [here](https://developers.arcgis.com/ios/objective-c/guide/install.htm#ESRI_SECTION1_5EED305FC1F2479494064C5A4E9FC268).

[2016-02-09 00:29] dirtsniffer opened #139 "Swift Samples do not run in Xcode 7.2.1, Swift 2.1.1"
None of the Swift Samples run in Xcode 7.2.1, Swift 2.1.1.
Some but not all of the issues

- Bitcode needs to be set to "NO"
- something with "as" and Set
- println needs to be "print"

[2016-02-12 16:43] singhgag commented on #139
https://github.com/Esri/arcgis-runtime-samples-ios/pull/141

[2016-02-22 17:15] singhgag commented on #139
@dirtsniffer Can you close the issue if everything is working for you now?

[2016-02-23 01:03] #139 closed

[2016-03-22 13:09] QiuDaniel opened #151 "the wrong show in the picture happened when I pod install the sdk"
![Uploading 874501FB-7D58-42E5-8D1B-35067B589A9E.png…]()

Installing ArcGIS-Runtime-SDK-iOS (10.2.5)

[!] Error installing ArcGIS-Runtime-SDK-iOS
[!] /usr/bin/curl -f -L -o /var/folders/p7/cbrw5rzj1_11s84dkbw19dc00000gn/T/d20160322-1697-1fm41cb/file.zip http://esri.box.com/shared/static/aa3e5u04sakyshphc9ooqizvyse7b8iv.zip --create-dirs

  % Total    % Received % Xferd  Average Speed   Time    Tim

[2016-06-01 14:19] dlednik opened #178 "Streamline .gitignore in v.next"
You can use wildcards

This is all you need:
[code]

[2016-06-01 16:50] singhgag commented on #178
@dlednik Feel free to contribute. Create a PR and I will merge.

[2016-06-01 16:52] dlednik commented on #178
already tried that.
don't have permission to push to the repo 😄

[2016-06-01 16:59] dlednik commented on #178
will sent pull request 👍

[2016-06-01 16:59] #178 closed

[2016-06-28 20:55] fahlout opened #183 "Pixelated maps"
As in the version before the beta all the maps are still pixellated on screen, which is such a shame. It's even worse in the beta than it is in the current production version. How come nobody has noticed that yet?

[2016-06-29 08:13] dlednik commented on #183
@fahlout this was addressed in quartz beta release. Please use Aesthetics mode.

[code]

[2016-07-01 08:18] ozcan-durak opened #184 "Cannot select features on AGSFeatureTableLayer"
Hi,

When "AGSFeatureTableLayer" .setSelected enabled , Doesn't highlight the selected features.
Even when checked for isFeatureSelected turns to false. Somehow, Tried with **Offline Feature Editing sample**

Seems like a bug.

[2016-07-15 22:40] saratchandrakarumuri opened #194 "GeodesicSketch issue"
In the GeodesicSketch sample, normal sketch is drawn instead of Geodesic Sketch

![image](https://cloud.githubusercontent.com/assets/8692125/16890348/5f802616-4aa2-11e6-8c15-482ae80235cc.png)

[2016-07-15 22:45] saratchandrakarumuri opened #195 "Route not cleared with reset"
In Routing sample, when "route" button is tapped after resetting the route, older route is displayed again

[2016-07-25 17:21] goldenlimit commented on #184
For the question about how to use this method "isFeatureSelected" for AGSFeatureTableLayer, here are several things you need to take a look in order to make it work.

1. This selectioncolor property is only available in AGSFeatureTableLayer and AGSGraphicsLayer, therefore, you want to make sure the feature that you click is coming from either AGSFeatureTableLayer or AGSGraphicsLayer.

2. If you wa

[2016-07-26 22:14] goldenlimit commented on #184
In case you still not make it works. Here I shared with you a github sample that I created for this particular issue:
[AGSFeatureTableLayer Selection with Color](https://github.com/goldenlimit/developer-support/tree/Esri/gh-pages/runtime-ios/AGSFeatureTablelayer-Selectcolor-Swift)

[2016-09-23 14:33] ozcan-durak opened #217 "Swift 3 Support"
When will you release swift 3.0 samples. and SDK to work with Swift 3.0

Regards

[2016-10-03 13:58] JayMehta711 opened #220 "Map issue delegate method not called in Swift 3.0 , iOS 10"
- callout(callout: AGSCallout!, willShowForFeature feature: AGSFeature!, layer: AGSLayer!, mapPoint: AGSPoint!)
- This delegate method not called when tap on Marker.
- In this case i am not getting this details.
  let graphic = feature as! AGSGraphic

-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
-  AGSCalloutDelegate,AGSLocatorDelegate,AGSMapViewLayerDelegate,AGSLayerDelegate
  self.mapView.callout.deleg

[2016-10-23 14:50] abdelrahman-badary opened #226 "OfflineRoutingSample crash on physical devices running IOS 10.0.2 , 9.3.2 ."
I can't run the OfflineRoutingSample (objective-c) on physical devices running IOS 10.0.2 , 9.3.2 , when i add another point to create a route an EXC_BAD_ACCESS is thrown from "Esri_runtimecore::Network_analyst::Traversal_result::get_partial_edge_geometry_" , however it is working fine on the 10.0 simulator , and on a physical device running 9.3.4 , anyone facing the same issue ?

Note: i am runni

[2016-10-25 17:28] goldenlimit commented on #226
Based on this geonet thread:https://geonet.esri.com/thread/175740#comment-602963
This is a known issue with 64 bit devices

Can you try this workaround? Build the project with only 32 architectures. You can then run the app on all devices without a crash - the trade off being you would be unable to benefit from 64-bit computing.

[2016-10-26 16:30] abdelrahman-badary commented on #226
It will work fine on 32 bit architectures but i wouldn't call this a workaround because the Appstore will not accept applications that supports 32 bit applications only , in other words 64 bit architectures must be supported in order to distribute on the Appstore .

[2016-11-05 14:37] stonetip commented on #217
This is really important. Please make it a priority.

[2016-11-05 14:38] stonetip opened #228 "Readme link to setup instructions is broken"
It should be:
https://developers.arcgis.com/ios/beta/swift/guide/install.htm

Or:
https://developers.arcgis.com/ios/beta/objective-c/guide/install.htm

[2016-11-07 09:42] dlednik commented on #228
FYI: @singhgag

[2016-11-17 00:37] dg0yal commented on #217
Yes, we are working on new samples for the upcoming release, they will initially be in Swift 2.3, but in a short time after that we will upgrade the new samples to Swift 3.0

[2016-11-17 01:41] stonetip commented on #217
FWIW, I've found most samples have worked okay, especially when the code is run through Xcode 8.1's conversion to 3.0 syntax. Still, it will be useful to have more samples and to have them in 3.0 syntax. It's helpful in being able to quickly experiment with and understand the utility of various Runtime features.

Thanks!

[2016-11-19 14:20] shahchirag2110 opened #229 "exportImageWithCompletion Not found when i used ArcGis Map in swift 3.0"
**I wrote code like this . I need this thing working urgently . Please help me**

[code]
But in swift 3.0 this method not found see the screen shot
![screen shot 2016-11-19 at 7 49 15 pm](https://cloud.githubusercontent.com/assets/11793894/20456046/5aa1518a-ae91-11e6-8979-e8334a37ce1e.png)

[2016-11-21 02:21] EddyLiu1001 commented on #226
Hi abdeIrahman, I have met the same problem, have you find way to resolve this problem yet?

[2016-11-21 17:38] singhgag commented on #229
Try removing the `WithCompletion` from method name. Or simply start fresh, see if you get the method in the intelli-sense when you do a `mapView.`.

[2016-11-21 17:39] singhgag commented on #229
I am including a snippet thats working for me.

[code]

[2016-11-22 11:40] shahchirag2110 commented on #229
@singhgag Thank for reply but same error look the screenshot and if start fresh method not found i am not getting the method in intelli-sense of xcode

[code]

**In intelli-sense below method i got**
![screen shot 2016-11-22 at 5 08 52 pm](https://cloud.githubusercontent.com/assets/11793894/20522460/72f54d08-b0d6-11e6-87ab-749cbe536fed.png)
**And error something like below**
![screen shot 2016-11-

[2016-11-22 11:51] shahchirag2110 commented on #229
@singhgag did import any thing in file i import only ArcGIS and i am coding in Xcode 8 and swift 3.0

[2016-11-22 12:09] maryharvey commented on #229
@shahchirag2110 Apologies if you have already tried this.
So the problem is that intellisense (auto-complete) is not picking up the ArcGIS API. I experienced this a few times and solved it by closing all open projects and Quiting Xcode. On reopening the project auto-complete operated correctly.
![2016-11-22_11-52-18](https://cloud.githubusercontent.com/assets/3710427/20523260/1923b80c-b0ac-11e6-87

[2016-11-22 12:20] shahchirag2110 commented on #229
@maryharvey  I tried it 2 to 3 times but it is not working any how

[2016-11-22 13:21] maryharvey commented on #229
@shahchirag2110 This sounds like a general problem with your auto-complete (not specific to the Samples)... if you agree you could transfer this query to the geonet channel? https://geonet.esri.com/community/developers/native-app-developers/arcgis-runtime-sdk-for-ios ?
Please state the version of Xcode and Swift.

[2016-11-23 09:53] abdelrahman-badary commented on #226
@EddyLiu1001 Hello mate, no i haven't found any useful solution to that problem other than the one suggested above, they released a new version of the SDK but i haven't tried it yet .

[2016-11-24 02:19] EddyLiu1001 commented on #226
@abdeIrahman,I also notice they have released a new version 100.0.0.But in their release note,they haven't mention this issue.I have downloaded the new version, but I don't know after I install the new version sdk,whether I can turn back to version 10.2.5 if I encounter some new problems.

[2016-11-24 02:22] EddyLiu1001 commented on #226
@goldenlimit  change structure to 32-bit can avoid this problem, but in that way,App will not be able to be put on APP Store.Any other suggestion?

[2016-11-24 02:29] xianning commented on #226
@goldenlimit I find that  that the SDK supports 32 bit applications only , in other words 64 bit architectures must be supported in order to distribute on the Appstore .Could you give me some advice?

[2016-11-28 17:25] goldenlimit commented on #226
@EddyLiu1001 @xianning We just released the new version of SDK 100.0, What about try with the new version of SDK? https://developers.arcgis.com/ios/
AGSRoute: https://developers.arcgis.com/ios/latest/api-reference/interface_a_g_s_route.html

[2016-11-28 17:27] goldenlimit commented on #226
Hi @EddyLiu1001 You can always retrieve back to the 10.2.5, as long as you just reinstall the 10.2.5 pkg file again on your mac and it will overwrite your current version of SDK in your mac.

[2016-11-29 07:35] EddyLiu1001 commented on #226
@goldenlimit  many thanks,I will try this issue in version 100.0.0

[2016-12-02 03:29] abdelrahman-badary commented on #226
This issue is resolved in version 100.0

[2016-12-02 03:29] #226 closed

[2016-12-12 09:50] mrimadali opened #236 "Property 'map' not found"
Hi

After integrating the maps using cocoa pods, I have imported the following:
`#import <ArcGIS/ArcGIS.h>`
In storyboard file, I've added a UIView element into view controller, changed the class name as AGSMapView & created an outlet.

When I try to use the "**self.mapView.map**", it throws an error saying the **_property map not found on object of type AGSMapView_**. Please clarify.

I was refer

[2016-12-12 16:40] singhgag commented on #236
@mrimadali What version of the SDK are you using?

[2016-12-12 16:43] mrimadali commented on #236
Latest one, as I was using cocoapods to download the SDK.

[2016-12-12 16:46] singhgag commented on #236
You mean 100.0.0? I asking because we didn't have the concept of `AGSMap` as a separate object in version 10.2.x.

[2016-12-12 16:49] mrimadali commented on #236
Not sure, where to check the version.
I have downloaded the latest one using:
pod 'ArcGIS-Runtime-SDK-iOS'
Pls advice.

[2016-12-12 16:59] singhgag commented on #236
One way to check would be to see if you have `AGSMap.h` file in the `Headers` folder. Location to the `Headers` folder: `$HOME/Library/SDKs/ArcGIS/iOS/Frameworks/Static/ArcGIS.framework/Headers`

[2016-12-12 17:03] singhgag commented on #236
You can get the version number from the `version.txt` file located at `$HOME/Library/Application Support/AGSiOSRuntimeSDK/`

[2016-12-12 17:05] mrimadali commented on #236
FYI, I don't have a file AGSMap.h.

[2016-12-12 17:15] singhgag commented on #236
Can you share your podfile?

[2016-12-12 17:18] mrimadali commented on #236
Here you go:

[2016-12-12 17:41] singhgag commented on #236
Try putting the version number along with the pod name. As below.
[code]

[2016-12-13 03:58] mrimadali commented on #236
It works, Thanks 👍

[2016-12-16 05:51] harshchitrla opened #237 "I have installed SDK, I have cloned the project from github still I'm getting error."
/Users/{Home}/Library/Developer/Xcode/DerivedData/arcgis-ios-sdk-samples-evftpkeyioizojaenycmfrtwgnln/Build/Products/Debug-iphonesimulator/arcgis-ios-sdk-samples.app/ArcGIS.bundle/Directions/NA Campus/pl.json: No such file or directory

[2016-12-19 22:31] singhgag commented on #237
@harshchitrla What version of the SDK are you using?

[2016-12-19 23:48] ss42 opened #238 "pod updated the new version"
I used cocoapods to install my frameworks and I had used 10.2 and while I was updated the pod, it installed the new framework 100.0 . How can I used the old one? please help.

[2016-12-20 06:15] harshchitrla commented on #237
I'm using ArcGIS_Runtime_SDK_iOS_100_0_0 .

On Tue, Dec 20, 2016 at 4:01 AM, Gagandeep Singh <notifications@github.com>
wrote:

[2016-12-20 16:55] singhgag commented on #237
Did you try clearing your derived data folder? If not follow the instructions on this [post](http://stackoverflow.com/a/40278559). Please close Xcode before deleting the folders inside derived data folder.

[2017-01-11 10:25] ikbalyasarGis opened #239 "Credential method is missing iOS 100.0.0 SDK"
Hi,
In its previous version we using,
`" let tiledLayer = AGSTiledMapServiceLayer(url :  url, credential :  creed)!" `

But I could not use this feature in the new version (100.0.0)

How to use encrypted service this version (100.0.0)

[2017-01-11 10:34] ikbalyasarGis commented on #238
Hi,
You can try this code
`pod 'ArcGIS-Runtime-SDK-iOS' , '~> 10.2’`

[2017-01-11 10:40] dlednik commented on #239
@ikbalyasarGis

It has been replaced with `AGSArcGISTiledLayer`

[code]

[2017-01-11 10:47] dlednik commented on #229
Just a note on the original code. `NSError` has been replaced with `Error` class in Swift 3.x, that is why compiler is complaining.

I found it's best not to include type in blocks to avoid this issues in the future:

[code]

[2017-01-11 10:54] ikbalyasarGis commented on #239
Thanks for fast answer. But this information dont exist in documents.
"https://developers.arcgis.com/ios/latest/api-reference/interface_a_g_s_arc_g_i_s_tiled_layer.html"

[2017-01-11 11:08] dlednik commented on #239
@ikbalyasarGis what information are you referring to?
That it replaced `AGSTiledMapServiceLayer` layer?

[2017-01-11 11:12] ikbalyasarGis commented on #239
I'm referring AGSArcGISTiledLayer doesnt have credential property at developer documents. I've mentioned link above.

[2017-01-11 11:16] dlednik commented on #239
I see, good point. That is inherited from `AGSRemoteResource` class but is not exposed in the doc.

[2017-01-11 11:19] dlednik commented on #239
I logged internal issue for this to be addressed. Thank you for the feedback 👍

[2017-01-11 11:21] ikbalyasarGis commented on #239
Thanks dlednik

[2017-01-12 06:10] ikbalyasarGis opened #240 "how to make iOS 100.0.0 SDK license the app ?"
Old version sdk (10.2...);
[code]
New version sdk (100.0.0)
how will I do?
Dont work this code
[code]
Thanks.

[2017-01-12 06:33] #239 closed

[2017-01-12 11:01] maryharvey commented on #240
Licensing a Runtime application has changed at Version 100.0.0. Please see this document for a full explanation of the code and the details on the License Level required. https://developers.arcgis.com/ios/latest/swift/guide/license-your-app.htm

In short you can license the app using a License String
[code]

or through a Named User.
[code]

[2017-01-12 13:29] ikbalyasarGis commented on #240
Thanks maryharvey.

[2017-01-12 13:29] #240 closed

[2017-01-24 07:17] mpayson opened #245 "Add ability to export code"
This is awesome--would love to quickly export/send/save the sample code. Could long-press the ViewController view at the bottom of the "Code" page to copy a Github link?

[2017-01-26 21:33] nixta opened #246 "Make Raster Renderer samples more interactive"
Could we make the Renderer properties panels not mask out the underlying layer? That way when we move sliders around we can see the effect on the underlying layer.

Also, unless you know what you're doing, some of the demos that have manual inputs are very opaque. It's not clear what are suitable values for some of the numeric inputs. Could the panels suggest some values perhaps or have some prese

[2017-02-06 18:46] dg0yal commented on #217
Samples have been updated to swift 3

[2017-02-06 18:46] #217 closed

[2017-02-06 19:06] #236 closed

[2017-02-06 19:07] #238 closed

[2017-02-06 19:13] dg0yal commented on #229
Here is the swift 3 usage - https://github.com/Esri/arcgis-runtime-samples-ios/blob/18570eca866320d233b8e57cfc7136d1172f6d4a/arcgis-ios-sdk-samples/Maps/Take%20screenshot/MapViewScreenshotViewController.swift#L74

[2017-02-06 19:13] #229 closed

[2017-02-06 19:18] dg0yal commented on #228
Fixed. Closing

[2017-02-06 19:18] #228 closed

[2017-02-06 19:23] dg0yal commented on #183
There was a temporary regression in the quality of raster tiles in the early betas, but it should be fixed in the final 100.0.0 release of the SDK. Please let us know if you're still seeing the problem, and provide a screenshot or two. Having said that, there is only so much quality that can be offered by tiles that aren't specifically generated for retina displays. The best quality can be achieve

[2017-02-06 19:23] #183 closed

[2017-02-06 19:24] #80 closed

[2017-02-06 19:25] #66 closed

[2017-02-06 19:25] #81 closed

[2017-02-06 19:25] #194 closed

[2017-02-06 19:26] #65 closed

[2017-02-06 19:26] #115 closed

[2017-02-06 19:27] #195 closed

[2017-02-06 19:28] #11 closed

[2017-03-10 02:05] ailong opened #251 "how to add geoserver wmts service"
how to add geoserver wmts service

[2017-03-17 19:21] dg0yal commented on #251
This functionality will be coming in the next release (100.1)

[2017-03-17 19:21] #251 closed

[2017-03-31 02:38] DhbStudy opened #252 "How to customize symbols?"
Hello,
        I'd like to render the map elements more flexibly by using symbol. I find that the AGSTextSymbol has lots of properties, but for other symbols like AGSLineSymbol I don't find the way to realize complex display. In fact, I really want to know how to customize symbols.

[2017-04-05 01:17] xiaowasly opened #254 "OC?"
Excuse me ,there is have oc method ?

[2017-04-05 01:44] xiaowasly commented on #254
I can not find the OC code

[2017-04-06 05:49] #254 closed

[2017-05-25 04:44] dg0yal commented on #252
A neat way to achieve complex affects is by using `AGSCompositeSymbol` to combine a number of point, line and polygon symbols.  https://developers.arcgis.com/ios/latest/api-reference/interface_a_g_s_composite_symbol.html

[2017-05-25 04:44] #252 closed

[2017-05-26 21:33] nyekimov commented on #58
Do not do it, it's a bad practice. Use clusters. Load graphics only on demand. When a user navigates to the smallest cluster and use AGSUniqueValueRenderer

[2017-08-01 05:26] bibinjacobpulickal opened #290 "No such module 'ArcGIS'"
It is said that you just need to download the project and run it on xcode. But, the sample project doesn't run on Xcode 8.3.3. MacOS 10.12. Shows swift compiler error No such module 'ArcGIS'. Found that the ArcGIS.framework file that needs to be included along with the sample project is missing.

[2017-09-22 20:29] rlaguilar commented on #290
Any update in this?

[2017-11-09 21:12] singhgag commented on #290
@bibinjacobpulickal @rlaguilar
As listed in the `Requirements` section of the [Readme](https://github.com/Esri/arcgis-runtime-samples-ios/blob/master/README.md#requirements), you need to download and install the Runtime SDK for iOS. You can find more details [here](https://developers.arcgis.com/ios/latest/swift/guide/install.htm)

[2017-11-09 21:43] esreli commented on #290
@bibinjacobpulickal @rlaguilar as a follow up to @singhgag's note, there are two ways to install the ArcGIS Runtime SDK for iOS. **Please note**: the application is currently configured for a manual install.

If you prefer to install using Cocoapods, you must follow these steps:

1. Delete `ArcGIS.framework` from the project (it should be red & is the last item in the `arcgis-ios-sdk-samples` grou

[2017-11-28 07:46] ikbalyasar opened #295 "The location function is not working properly when callout is open."
when "locationDisplay" function run, the map is freezing(hanging).

[2017-11-28 07:53] fozoglu commented on #295
I have same problem.

[2018-02-14 11:02] ddcrobert opened #342 "Zoom right after map loading (using 100.1.1)"
I'm using pod 'ArcGIS-Runtime-SDK-iOS', '100.1.1' (I can't use 100.2 due to the minimal version being too aggressive).

I'm using a AGSArcGISVectorTiledLayer as a basemap.
Then I specified the layerViewStateChangedHandler.
Within it I wait until there is two AGSArcGISVectorTiledLayer (the basemap seems to be a group layer of two) with an "Active" state.
Then I try to zoom with setViewpointCenter.

[2018-02-20 16:53] #342 closed

[2018-02-23 10:53] muruganandham opened #349 "Not able to load mbtiles"
Not able to load `mbtiles` in any layer using  arcgis runtime sdk version 100.1 for iOS.  Is it possible to do that in new version of run time sdk. In old runtime SDK, i have used `AGSTiledServiceLayer` to load `mbtiles`. I can load only `tpk` files using `AGSArcGISTiledLayer`.

[2018-05-02 12:45] PrasadPotale commented on #342
Are you able to fix this issue?

[2018-05-09 20:09] esreli opened #358 "Missing Category Background Image (Cloud & Portal)"
Upon launching the samples app, the user is presented with a categories page. The 'Cloud & Portal' category is missing a background image.

It's collection view is attempting to find an image with the name 'Cloud & Portal_bg' within the app bundle's image assets but there is no image.

![screen shot 2018-05-09 at 1 03 10 pm](https://user-images.githubusercontent.com/33433113/39837001-02ebff0e-538a

[2018-05-09 22:17] esreli opened #359 "Unexpected behavior for sample: Layers -> Export Tiles"
When first zooming in to the max scale and then attempting to 'Export Tiles' a user is presented with the error "Min scale and max scale cannot be the same".

A user should feasibly be able to zoom to a scale that the map allows in this sample (1155581.108577) and still be able to export tiles.

[2018-05-09 22:55] esreli opened #360 "Bug in sample: Features -> Feature Layer Query"
I've encountered a bug where a valid state in the feature layer query is not selected. To reproduce this, follow these steps:

1) Type 'Dakota' in the search bar and press enter -> the map **does** select the outline combined geometries of both North & South Dakota

2) Clear the contents of the search bar

3) Type 'North Dakota' in the search bar and press enter -> the map **should** select the ou

[2018-05-11 21:11] dg0yal commented on #358
@saratchandrakarumuri this should be fixed

[2018-05-11 23:37] saratchandrakarumuri commented on #358
background icon is now displayed for `cloud and portal` menu

[2018-05-11 23:37] #358 closed

[2018-06-25 20:39] philium commented on #47
A web tiled layer sample has been added.

[2018-06-25 20:39] #47 closed

[2018-06-29 20:05] duanepfeiffer opened #407 "EditFeatures(Connected) sample missing creationMode"
In the sample, popupsViewController sketchEditorFor() delegate method does not specify the creationMode.  This sounds like an error in the sample code.  Without specifying creationMode, I was only able to draw point features.

Referring to this sample:  [https://linkprotect.cudasvc.com/url?a=https%3a%2f%2fdevelopers.arcgis.com%2fios%2flatest%2fswift%2fsample-code%2fedit-features-connected-.htm&c=E

[2018-07-05 09:40] Hamza123Imran opened #414 "Movement Track on Map"
How can i get the track on the map when i'm moving?

[2018-07-06 19:29] esreli commented on #414
Hi @Hamza123Imran. Would you please clarify your question?

Actually, I encourage you to take questions like this over to our [GeoNet iOS SDK community page](https://community.esri.com/community/developers/native-app-developers/arcgis-runtime-sdk-for-ios) where we monitor and actively answer developer questions.

In the meantime and without more clarification from your question, perhaps the follow

[2018-07-06 19:29] #414 closed

[2018-07-16 13:13] Hamza123Imran opened #430 "Custom Sketching in ArcGis Map"
How can we make custom sketch on the map rather than using the default shapes? For example, if user want to give its area location he/she should sketch his/her way on the map custom.

[2018-08-13 00:09] tekoscott commented on #349
Was this ever answered, as I am experiencing similar issues.

[2018-08-22 06:11] mahiran opened #465 "Sample of "Spatial operations" is sometimes not responding."
**Application**: ArcGIS Runtime SDK Samples (iOS), downloaded from iTunes App store

**Device**: iPhone 7 Plus

**Operating System**: iOS 11.4.1

**Error Description**: Sample of "Spatial operations" is sometimes not responding.

**How to reproduce**: Categories -> GEOMETRY -> Spatial operations -> Choose operation -> tap any operation

[2018-09-06 18:03] nixta commented on #465
Hi @mahiran, thanks for reporting this.

I am unable to reproduce the issue. Could you provide a little more information please?

1. In what was does the app stop responding?
2. Can you give an indication of how frequently this stops responding? 1 time in 2, 1 in 10?
3. Is this downloaded from the App Store, or an app you have built yourself?

Thank you!

Nick.

[2018-09-06 23:05] mahiran commented on #465
Hi Nick,
Thank you for your response.

1 and 2. During my test, app did not stopped (or hanged up) even once.  Even though I selected any operation (Union, Difference, etc.), no operation executed (no red part displayed).
3. Only sometimes. (Just now I tried to reproduce it again, but I could not encountered with this issue)
4. I downloaded this "ArcGIS Runtime SDK Samples" app from iTunes App sto

[2018-09-06 23:08] nixta commented on #465
Aha. I see. Thank you. That helps.

I'll keep trying to reproduce this. In the meantime, if you do see it happen again, please update this issue.

[2018-09-07 01:15] mahiran commented on #465
I was able to reproduce this issue. (Please refer the attached movie file)
[IMG_0510.zip](https://github.com/Esri/arcgis-runtime-samples-ios/files/2359177/IMG_0510.zip)

[2018-09-07 13:39] nixta commented on #465
Oh, excellent. Thanks for providing that @mahiran! Hugely helpful.

[2018-09-09 18:51] codingmanu opened #479 "Progress not tracked properly"
Using the sample code to export tiles but using a complex polygon instead of an extent (buffer of something similar to a river). Getting a rather large export size (800MB+).

My issue is when tracking progress. It starts tracking 5%, then 10%, then waits for a while and jumps to 30%, 50% after a while and a few minutes later when the full download is done, it jumps to 100% and the task is finished

[2018-09-09 18:58] codingmanu commented on #479
1:48:45 PM Progress: 0.0
1:48:45 PM Completed count: 0
1:48:45 PM Total count: -1
1:48:51 PM Progress: 0.02
1:48:51 PM Completed count: 2
1:48:51 PM Total count: 100
1:48:52 PM Progress: 0.02
1:48:52 PM Completed count: 2
1:48:52 PM Total count: 100
1:48:52 PM Progress: 0.05
1:48:52 PM Completed count: 5
1:48:52 PM Total count: 100
1:48:55 PM Progress: 0.05
1:48:55 PM Completed count: 5
1:48:55 PM

[2018-09-11 16:25] #13 closed, assigned to nobody

[2018-09-11 18:07] #26 closed

[2018-09-11 18:20] #56 closed, assigned to dg0yal

[2018-09-11 18:29] #63 closed

[2018-09-11 18:33] philium commented on #64
There is now a WMTS layer sample:
https://github.com/Esri/arcgis-runtime-samples-ios/tree/master/arcgis-ios-sdk-samples/Layers/WMTS%20layer

[2018-09-11 18:33] #64 closed

[2018-09-11 18:46] #151 closed

[2018-09-11 19:06] philium commented on #237
Closing. If this is still a problem, please open a new issue.

[2018-09-11 19:06] #237 closed

[2018-09-13 21:58] esreli opened #484 "Improve Search Engine using Trie data structure"
Currently the samples search engine is powered by indexing the README of every sample into a dictionary of words found in the READMEs (keys) with their associated sample(s) (values). Because a dictionary uses a hash, this is an efficient system to look up values based on their keys.

However, a user might have the expectation that they will receive live results for their query as they type in the

[2018-10-30 16:51] serbanb opened #550 "Geofence trigger"
Hi, I did not find any example on how to trigger a call to a delegate or a notification when the device enters or exits a defined area on a map. The area can be either a center point with a radius or a polygon defined by multiple points or something. I did not find any help in the ArcGis iOS SDK API Reference either. A hint on where to start is also appreciated.
Thanks

[2018-11-02 06:13] serbanb commented on #550
I found how to do Geofencing, using AGSGeometryEngine class.

[2018-12-11 14:21] ShayanSolution opened #618 "unable to load XML in WMTS in iOS(Swift 4)"
Hi,
I am trying to run WMTS sample. i am using this xml for getCapabilities in below URL:

https://api.lantmateriet.se/open/topowebb-ccby/v1/wmts/token/172d422a3e65e5010d95ac5fc27eda/?request=getcapabilities&service=wmts

When i am using this in browser, its giving me proper xml response,BUT in app swift code says invalid XML provided (For Ref: find attached Image below)

Please guide about that h

[2019-01-14 16:42] nixta commented on #465
Hi @mahiran. Is this still an issue for you with the current app?

[2019-01-17 21:27] ikbalyasar opened #648 ""mapView.isAttributionTextVisible = false" not working ios 100.4 SDK"
Hi,
 "mapView.isAttributionTextVisible = false" not working ios 100.4 SDK

I want remove "powered by esri" label.

[2019-01-21 12:04] #648 closed, assigned to nobody

[2019-02-07 02:42] dg0yal commented on #618
We'll look into this. Possibly a bug on our end

[2019-02-07 02:54] dg0yal commented on #484
@esreli thanks for the suggestion. We recently improved the search implementation (Oct-ish) and U/X. The scenario you described does yield useful results now.

[2019-02-07 02:56] dg0yal commented on #430
@Hamza123Imran We support that using freehand sketch. See sample code https://github.com/Esri/arcgis-runtime-samples-ios/tree/master/arcgis-ios-sdk-samples/Display%20information/Sketch%20on%20the%20map

[2019-02-07 02:56] #430 closed

[2019-02-07 02:57] dg0yal commented on #349
We do not support the mbtiles format out-of-the-box.
You can implement a custom tiled layer that supports the format.

[2019-02-07 02:57] #349 closed

[2019-02-07 03:05] #290 closed

[2019-02-07 03:10] dg0yal commented on #184
For 100.x version of this capability, please refer to the Feature Layer Selection sample - https://github.com/Esri/arcgis-runtime-samples-ios/tree/master/arcgis-ios-sdk-samples/Features/Feature%20layer%20selection

[2019-02-07 03:10] #184 closed

[2019-02-07 03:11] #6 closed

[2019-02-07 03:12] dg0yal commented on #104
This is fixed in 100.x

[2019-02-07 03:12] #104 closed

[2019-02-07 03:13] dg0yal commented on #128
Shapefiles are supported as of 100.2 version.
Check out the sample - https://github.com/Esri/arcgis-runtime-samples-ios/tree/master/arcgis-ios-sdk-samples/Features/Feature%20layer%20(shapefile)

[2019-02-07 03:13] #128 closed

[2019-02-07 03:17] dg0yal commented on #550
@serbanb while you can certainly use AGSGeometryEngine to compute whether a point is inside or intersects a polygon, you could also consider using Apple's location manager apis with regions https://developer.apple.com/documentation/corelocation/monitoring_the_user_s_proximity_to_geographic_regions

ArcGIS Runtime does not yet provide any location based triggers or region monitoring functionality.

[2019-02-07 03:17] #550 closed

[2019-02-07 03:25] dg0yal commented on #479
Looks like the transition upto 50% is more or less incremental over a 2 min period.
Then the next progress isn't reported for a whole 8 mins at which point it is 100%. That doesn't seem right. We do progressively delay the status check for jobs that take long to complete in order to prevent firing too many requests, but we shouldn't be going dark for 8 mins.

[2019-02-07 03:34] dg0yal commented on #360
this is now fixed

[2019-02-07 03:34] #360 closed

[2019-02-07 03:42] dg0yal commented on #58
Graphics are held entirely in memory. You will eventually hit a wall depending upon how many attributes and how complex geometries are for the graphics.
Try using feature layers instead. They keep the data on disk in a geodatabase so are much more efficient in terms of memory, but as you add more and more data it'll take longer to display them on the map.

[2019-02-07 03:42] #58 closed

[2019-02-07 03:46] dg0yal commented on #295
This was fixed in v100.2

[2019-02-07 03:46] #295 closed

[2019-02-07 04:01] nixta commented on #479
You could try this: When you get your job back, set up KVO on the `AGSJob.progress` property and call your `trackProgress()` method from there. Remember that KVO doesn't fire on the main thread, so be sure to dispatch over to it since you're doing UI work through `SVProgressHUD`.

[2019-02-08 01:19] saratchandrakarumuri commented on #465
I ran this sample for 150 times on a couple of devices and I encountered this issue only once on an iPhone 7

[2019-02-08 18:47] esreli commented on #484
Ah thank you, it works great now.

[2019-02-08 18:47] #484 closed

[2019-02-15 18:45] pgruenler commented on #618
As part of sending out the "getcapabilities" request our code cleans up the URL.  Our experience has been that the clean-up we do makes the URL look more like what the URL standards specify and the examples we've seen.  Unfortunately, in this case our clean-up is causing some problems with the server you are using.  Our API does allow you to omit the "getcapabilities" query from the URL and in thi

[2019-02-21 08:51] NaveeniOS opened #657 "How to change Point_Assets colour in Esri maps in swift ?"
Actually i need to change Point_Assets colour and Line_Assets colour , am getting those points and lines from AGSServiceFeatureTable with url.  Please find the attached image for reference.

<img width="454" alt="5bzjg" src="https://user-images.githubusercontent.com/46988917/53155815-de018280-35e3-11e9-924c-c6e4157c1201.png">

[2019-03-22 10:16] alexllao opened #674 "Only one layer in TiledLayer"
The WMS server with which we work only leaves a call to a tile every time, with a height and width of the entire screen. Is there any way to do it this way in the AGSArcGISTiledLayer? I attach a call to the WMS server and an image where it is indicated that it is the right thing and not the correct one.

![Screenshot_2019-03-22 Portal de la Dirección General del Catastro](https://user-images.githu

[2019-03-27 13:56] nixta commented on #674
Hi.

[`AGSArcGISTiledLayer`](https://developers.arcgis.com/ios/latest/api-reference/interface_a_g_s_arc_g_i_s_tiled_layer.html) is meant to adhere to a tiling scheme to obtain tiles for the map. I think what you should use instead is the [`AGSWMSLayer`](https://developers.arcgis.com/ios/latest/api-reference/interface_a_g_s_w_m_s_layer.html). You should be able to pass in this link to use the above

[2019-03-27 14:04] nixta commented on #657
The [`AGSFeatureLayer`](https://developers.arcgis.com/ios/latest/api-reference/interface_a_g_s_feature_layer.html) you create for each layer has a [`renderer`](https://developers.arcgis.com/ios/latest/api-reference/interface_a_g_s_feature_layer.html#a794abda4fa045232c652c3f3b8007a16) on it which is defined by the source service. You can interrogate that renderer and modify or replace it. See [`AGS

[2019-03-27 16:10] alexllao commented on #674
Hi! How can i get bbox coordinates to add in url request? Thnks a lot!

[2019-03-27 16:11] alexllao commented on #674
This night i will test this example with my wms server. Thnks

[2019-03-27 16:29] nixta commented on #674
To use the WMS service in the Map View, you won't send bbox coordinates. The `AGSWMSLayer` will take care of adding those parameters for the current `AGSMapView` extent. Our layers work together with the `AGSMapView` to display the map.

If you separately need to get the image from the WMS service (e.g. to save locally as a PNG) then you should construct the URL yourself and make the request separ

[2019-03-27 17:05] alexllao commented on #674
Okis!!! Thnks

[2019-03-27 21:36] alexllao commented on #674
Hi!! I've been test this code and it works!!!!

`let map = AGSMap(basemapType: .openStreetMap, latitude: 40.416775, longitude: -3.703790, levelOfDetail: 14)
        mapView.map = map
        let wmsServiceURL = URL(string: "https://ovc.catastro.meh.es/Cartografia/WMS/ServidorWMS.aspx?request=GetCapabilities&service=WMS")!
        let wmsServiceLayerNames = ["Catastro"]

        let wmsLayer = AGSW

[2019-03-27 21:46] nixta commented on #674
Yeah. You shouldn't need to set the width and height. `AGSMapView` and `AGSWMSLayer` will work together to set all that as you pan and zoom around the map. `customParameters` might typically be used for some custom authentication token. But for anything to do with the size of the map or area of the map, let the runtime handle all that.

[2019-03-27 21:54] alexllao commented on #674
Oks!!! Now I have to investigate how to get the central coordinates of the map, or get the latitut and longitude when I click on the map.

[2019-03-27 22:05] nixta commented on #674
Cool. You might consider running through some fo the [iOS DevLabs](https://developers.arcgis.com/labs/browse/?topic=any&product=iOS).

Center of the map can be got with AGSMapView.getCurrrentViewpointWithType() but use CenterAndScale. The viewpoint geometry will be the center.

To see where you tapped, use the AGSGeoViewTouchDelegate. See [here](https://github.com/Esri/arcgis-runtime-samples-ios/b

[2019-03-27 22:05] #674 closed

[2019-03-27 22:21] alexllao commented on #674
Thnks a lot!

[2019-03-28 11:36] alexllao opened #678 "WMS GetFeatureInfo"
If I want to change the Request "GetMap" to "GetFeatureInfo" and get the html it returns there is some method in the library? It return HTML info.

Attachment shows:

https://ovc.catastro.meh.es/Cartografia/WMS/ServidorWMS.aspx?&SERVICE=WMS&VERSION=1.1.1&LAYERS=Catastro&STYLES=&FORMAT=image/png&TRANSPARENT=TRUE&SRS=EPSG:3857&REQUEST=GetFeatureInfo&QUERY_LAYERS=Catastro&FEATURE_COUNT=10&INFO_FORMAT

[2019-04-18 09:59] xingyufeifan opened #699 "callout.setCustomView()can't use"
CustomView show location is wrong

[2019-04-18 14:26] philium commented on #699
Are you using 100.5? As described in the [release notes](https://developers.arcgis.com/ios/latest/swift/guide/release-notes.htm#ESRI_SECTION1_E5C4E398DBC145B1A991A4CF0C95B09F), the behavior of callouts with custom views has changed:

[2019-04-19 01:10] xingyufeifan commented on #699
yes, I am using 100.5. My custom view has been set size. The callout custom view is not in the callout bubble
![QQ图片20190419090916](https://user-images.githubusercontent.com/20453971/56399835-fe1b8e00-6282-11e9-8477-9c7bb0884b11.png)

[2019-04-19 15:21] philium commented on #699
How are you sizing your custom view?

[2019-08-15 01:15] lushangshu commented on #699
Hi Philium, Can you provide an example on how to create a customView using pure code without xib file or storyboard? I do not know how to fix my custom callout view.

[2019-08-15 15:15] philium commented on #699
@lushangshu One example is the [Identify KML Features](https://github.com/Esri/arcgis-runtime-samples-ios/blob/85ba2bad2a17945c9a95da22175a9f3717b17e35/arcgis-ios-sdk-samples/Layers/Identify%20KML%20features/IdentifyKMLFeaturesViewController.swift#L57) sample (introduced in 100.5), which uses a self-sizing `UITextView` as the callout's custom view. Another example is the [Project](https://github.c

[2019-08-16 05:04] lushangshu commented on #699
@philium Thanks a lot, I used Masonry[https://github.com/SnapKit/Masonry](url) solving that problem. It is quite easy to size my custom view setting my view's width and height.

[2019-09-30 16:48] esreli opened #777 "Update app for iOS 13"
The iOS samples app has not yet updated for iOS 13. Some areas to consider include:

### [UINavigationBarAppearance](https://developer.apple.com/documentation/uikit/uinavigationbarappearance)

On iOS 13, the navigation bar is unusable.

<img width="475" alt="Screen Shot 2019-09-30 at 9 38 01 AM" src="https://user-images.githubusercontent.com/33433113/65898577-bab36880-e366-11e9-92ce-e521fc51456f.p

[2019-10-02 19:38] dg0yal commented on #777
We will be fixing the nav bar problems asap.
But won't be adding support for dark mode until later

[2019-10-04 20:23] esreli commented on #777
I've identified another element for consideration in this effort due to a redesign in iOS 13, the `UISegmentControl`.

![Screen Shot 2019-10-04 at 1 13 20 PM](https://user-images.githubusercontent.com/33433113/66237139-31bf6880-e6a9-11e9-93d0-e62125cbb50f.png)

[2019-10-10 17:20] esreli commented on #777
I've identified another UI element that needs design consideration for iOS 13, the nav bar's search bar.

<img width="393" alt="Screen Shot 2019-10-10 at 10 18 22 AM" src="https://user-images.githubusercontent.com/33433113/66591321-80588100-eb47-11e9-995b-6aacb3bcda30.png">

[2019-11-05 18:22] sandeeps727 opened #797 "Build Error- Use of undeclared type 'Result'"
Hi,
Just cloned the repo for 100.6.0  and trying to build it but getting this error- "Use of undeclared type 'Result'' in many classes like ControlAnnotationSublayerVisibilityViewController ,MapSelectionTableViewController etc. Tried both manual as well cocoa pod.
I am using XCode 10.1 and Swift 4.2 . Any suggestions ? Thanks
-Sandeep

[2019-11-05 18:26] philium commented on #797
Thank you for your question. As stated in the Requirements section of the [README](https://github.com/Esri/arcgis-runtime-samples-ios/blob/master/README.md), the minimum Xcode version is now 11.0.

[2019-11-05 18:26] #797 closed

[2019-12-16 17:58] rmuellerjr commented on #777
Using IOS 13 with iPhone Pro, trying to use "Edit and sync" via Sample SDK app. When i open the sample, I see "Create geodatabase". When click create button app closes without error.

[2020-02-06 04:19] kemalenver opened #821 "Check if coordinates are inside a shape"
Hi, sorry if this is the wrong place to ask, but I was wondering if I can use this sdk to find whether a set of coordinates are inside a shape.

I've been given a shp file which contains a number of regions, and I'd like to find which region a given set of coordinates fall within.

Is this possible with this sdk?

Thanks

[2020-02-06 18:32] nixta commented on #821
Hi @kemalenver. The best place to ask would probably be the [forum for the ArcGIS Runtime SDK for iOS](https://community.esri.com/community/developers/native-app-developers/arcgis-runtime-sdk-for-ios/content).

There was a [similar question on Stack Overflow](https://stackoverflow.com/questions/60091456/how-to-check-if-a-viewpoint-exist-in-a-particular-geometry-envelope-in-arcgis-ru) (perhaps from

[2020-02-17 02:44] tkamiya0625 opened #824 "About 100.2 and 100.6 specifications and architecture."
Hello, sorry if this is the wrong place to ask, Is there any difference in the rendering of the map when using mmpk in 100.2 and 100.6?

Is the following perception wrong?
100.2 displays map data in a range not displayed on the terminal screen (it develops the data on the memory).
On the other hand, in 100.6, the range that is not displayed on the terminal screen is not it develops the data on the

[2020-02-26 22:18] dg0yal commented on #824
We constantly tweak, tune, and refine ways to render the map. Generally, we expect performance to either stay constant or improve from release to release, with the same type and amount of map data. Sometimes, as we add more rendering capabilities, you might see additional types of data render on the map that was possibly ignored or downgraded previously - this might change the percieved performanc

[2020-02-26 22:19] #699 closed

[2020-02-26 22:20] #657 closed

[2020-02-26 22:21] dg0yal commented on #678
This can be done by using `Mapview.identifyLayer()` for the WMS layer. It will make a GetFeatureInfo request and return results with the HTML content

[2020-02-26 22:21] #678 closed

[2020-02-26 22:21] #821 closed

[2020-04-22 02:50] Mebsunny opened #855 "iOS 13.3.1 Cannot be debugged by phone"
following errors

<img width="1229" alt="error" src="https://user-images.githubusercontent.com/16472481/79935172-d3ac7400-8486-11ea-9305-44a0e1e8c14c.png">

[2020-04-22 03:32] yo1995 commented on #855
Hi, could you provide more details? Much appreciated! 🙂
E.g. Are you using CocoaPods installation or SDK installation, what versions are your Xcode and macOS on, etc.?

[2020-04-24 08:23] Mebsunny commented on #855
CocoaPods installation

[2020-04-24 08:26] Mebsunny commented on #855
CocoaPods installation
CocoaPods version : 1.9.1
Xcode version : 11.3
Phone :  iPhone 8 plus
Mac OS : 10.15.4

[2020-04-26 07:43] Mebsunny commented on #855
The reason has been found because the free Apple ID cannot install the project with framework on iOS 13.3.1.

[2020-04-26 07:43] #855 closed

[2020-04-28 18:11] yo1995 commented on #777
Also, do we consider update the URL atop the repo to https://developers.arcgis.com/ios/latest/ ?

![image](https://user-images.githubusercontent.com/9660181/80522171-fdf7a900-8940-11ea-86b2-73b516c11261.png)

[2020-05-09 00:54] vquach2404 opened #870 "iOS README - Scenes"
Adding this forgotten category to the README update epic.

[2020-05-09 00:55] #870 closed

[2020-05-15 00:34] yo1995 commented on #777
Update the README and above to reflect changes in 100.8

- [ ] `Requirements` section
- [ ] README versions
- [ ] Podfile dependency version
- [ ] `Building samples using installed SDK` section
- [ ] URLs in `Licensing` and `Contributing` sections are not working.

[2020-06-22 16:02] yo1995 commented on #40
Seems we already have a sample for the `AGSGeometryEngine.generalizeGeometry` API. Do we close this issue?
- https://github.com/Esri/arcgis-runtime-samples-ios/blob/v.next/arcgis-ios-sdk-samples/Geometry/Densify%20and%20generalize/DensifyAndGeneralizeViewController.swift

[2020-07-22 07:56] ikbalyasar opened #916 "Esri VectorTiledLayer refresh problem"
Hello there,
I added a vector map to my application, even though this map is updated in the background, I cannot see the current map when I open the application. data comes from cache.
Is there a structure that I can renew like the dynamic service of SDK and pull the instant style file from the server? I don't want the phone to cache.

Have updated hourly from vector data.

[2020-07-22 15:32] nixta commented on #916
Hi @ikbalyasar. Thanks for the question.

Just to clarify, are you updating the style, or the map data?

Regardless, if you're working with a downloaded tile cache and resource set, it's up to you to pull a fresh set down.

In the case of the tile cache, we don't support downloading just the updated tiles - you would have to generate and download the cache again.

If you are just interested in an

[2020-07-22 20:07] ikbalyasar commented on #916
Hi,
I am add on my map.
url : .......rest/services/Hosted/MyMobil/VectorTileServer
[code]

I add and display the vector map as above.
After 1 hour, this map data is updated on the server again. The colors of the vector data have changed in the style file. But I still see the old colored data.
For example; I generate the traffic density data as a vector every 5 minutes. It creates different colors

[2020-07-22 20:38] nixta commented on #916
Ok. I see.

This doesn't appear to have anything to do with the Samples app. Seems like a question that should really be asked over at the [GeoNet Forum](https://community.esri.com/community/developers/native-app-developers/arcgis-runtime-sdk-for-ios/content).

I'll close this issue so it doesn't interfere with other samples, but we can continue to discuss here if you like.

[2020-07-22 20:38] #916 closed

[2020-07-22 20:38] nixta commented on #916
To clarify:
* You are using `AGSArcGISVectorTiledLayer` to display a vector tile service found at .......rest/services/Hosted/MyMobil/VectorTileServer
* You are updating the vector tile service every 1 hour.

I am not sure what you mean by `The colors of the vector data have changed in the style file` but I think you are conflating the tile cache with the style definition? That is, you keep the st

[2020-07-22 20:42] #824 closed

[2020-07-22 20:49] ikbalyasar commented on #916
Nixta,

[2020-07-22 21:01] ikbalyasar commented on #916
Hi;
Update style my reason is that each geometry is obvious in the color type style.

I read this style :  VectorTileServer/resources/styles/root.json

[https://pasteboard.co/JiSFStK.png]

As you can see in the picture, the line colors need to change as the traffic density changes, but it does not change in the mobile application even though it changes on the server. It keeps the cache in its old

[2020-07-22 21:07] nixta commented on #916
Does each street segment not have a traffic density attribute that is used by the style file to color the data?

Are you saying the content of that `root.json` file changes every hour?

If so, please can you share two copies of the different `root.json` files so I can understand?

[2020-07-22 21:09] nixta commented on #916
To clarify my confusion: typically the style data would describe something like this:

* Low density: Green line solid 2pt width
* Medium density: Orange line solid 2pt width
* High density: Red line solid 2.5pt width

And then the data in the tiles would have an attribute that says "Low density", "Medium density" or "High density" and the style rule above is applied at render time.

That way you

[2020-07-22 21:17] ikbalyasar commented on #916
Ok. I share my root.json.

Although the "line-color" data changes on a server every 5 minutes, it does not change in the mobile application. It doesn't refresh the style. for example, it remains in the style color 3 hours ago.

paint ": {" line-color "" # FF0000 "," line-width ": 3.05882}

root.json

{"version":8,"sprite":"../sprites/sprite","glyphs":"../fonts/{fontstack}/{range}.pbf","sources":{"

[2020-07-24 11:15] ikbalyasar commented on #916
@nixta  hi,
I think .pbf files are cached. Do I have a chance to keep it updated every time?

[2020-07-24 22:02] nixta commented on #916
Thanks for your patience, @ikbalyasar. I'm checking with the team and will get back to you.

[2020-07-27 17:04] nixta commented on #916
So it looks like you'd have to create a new identical layer, and remove the old layer to force the pbfs to be downloaded again. We'll look into providing an API to give more explicit control over this in the future.

[2020-07-27 21:13] ikbalyasar commented on #916
@nixta  Thank you for the answer.

Do you have the opportunity to share sample code?

[2020-07-28 14:57] nixta commented on #916
Something like this should work:

[code]

In this case I am copying the layer you already have, finding out where that is in the layer order, adding the copy of the layer into the layer order at the appropriate point, and then removing the old layer.

The new layer should request the latest pbfs, regardless of what the old layer was storing.

If for some reason that doesn't work quite as expected,

[2020-07-28 14:59] nixta commented on #916
I suppose this could also work and is more succinct - I've never used the `replace` method on an array but it should work nicely:

[code]

[2020-07-28 23:11] ikbalyasar commented on #916
Hi;
The problem is not actually adding and deleting.
Sample;
I create vectorTile and add my map;
[code]

Then when I listen to the network connection;

https: //mylink/VectorTileServer/tile/8/96/149.pbf -2.9Kb
https: //mylink/VectorTileServer/tile/8/96/150.pbf -3.7Kb
https: //mylink/VectorTileServer/tile/8/96/151.pbf -**from disk cashe**
https: //mylink/VectorTileServer/tile/8/96/152.pbf -**from d

[2020-07-29 01:18] nixta commented on #916
What is that screenshot from?

You cannot control the internal cache of the AGSArcGISVectorTileLayer, so if you want to force fresh tiles to be loaded, you need to create a new instance of the layer which has an empty cache and display that.

If you want to do that every time you zoom or pan the map, that could be messy, but you had said you wanted to do this every 5 minutes.

But if the above scr

[2020-07-29 07:33] ikbalyasar commented on #916
@nixta
Thank you very much.

It worked very well.

I couldn't find this part.

`AGSRequestconfiguration.global()`

İt's clear cashe this code.
`.reloadIgnoringLocalAndRemoteCacheData`

Thanks.

[2020-07-29 10:36] nixta commented on #916
Great to hear!

Note there is the global `AGSRequestConfiguration` that affects everything in the app, and then you can override per service (which is what we did here). Any class that implements the `AGSRemoteResource` protocol will allow this.

[2020-08-31 23:12] yo1995 commented on #220
Close due to inactivity. Please reopen if needed.

[2020-08-31 23:12] #220 closed

[2020-08-31 23:15] yo1995 commented on #465
Hi @saratchandrakarumuri , I tried with our latest sample and it seems not to be reproducible. Can we close this issue?

Thanks.

[2020-08-31 23:17] yo1995 commented on #19
With the latest update in U9, the `Show location history` sample uses a custom mock location datasource. https://github.com/Esri/arcgis-runtime-samples-ios/tree/master/arcgis-ios-sdk-samples/Maps/Show%20location%20history

[2020-08-31 23:20] yo1995 commented on #40
Close due to inactivity. Reopen if need an update.

[2020-08-31 23:20] #40 closed

[2020-09-11 18:17] yo1995 commented on #465
I made further updates to this sample in #965 , and do not see this issue anymore.

[2020-09-16 02:26] Jaseven777 commented on #777
I loaded the shapefile into the map, normal reality, but couldn't pan and zoom.

[2020-09-16 02:26] Jaseven777 commented on #777
I loaded the shapafile into the map, but I couldn't pan and zoom

[2020-09-16 02:29] Jaseven777 opened #968 "Shapefile couldn't pan and zoom"
I loaded the shapafile into the map, but I couldn't pan and zoom

[2020-09-17 15:51] yo1995 commented on #968
Hi, thanks for the question. Could you provide more details? E.g a a minimal working example.

[2020-10-07 10:19] aliawais opened #980 "Delegates not being called"
AGSRouteTrackerDelegate methods are not getting called, following is SDK and other related information
Using ArcGIS-Runtime-SDK-iOS (100.7)
Xcode 11.7
iOS Simulator with iOS 13.7
iPhone X 13.4.1

Also, do we need to set data sources for real navigation? If yes, how to set instead of "AGSSimulatedLocationDataSource".

[2020-10-07 15:41] yo1995 commented on #980
In terms of setting real location, consider using [AGSCLLocationDataSource](https://developers.arcgis.com/ios/latest/api-reference/interface_a_g_s_c_l_location_data_source.html)

[2020-10-07 22:41] aliawais commented on #980
@yo1995 Any example to how to set AGSCLLocationDataSource with other parameters as for AGSSimulatedLocationDataSource in the example.

Also the demo is not calling the delegates.

[2020-10-07 23:12] yo1995 commented on #980
[`Navigate in AR`](https://github.com/Esri/arcgis-runtime-samples-ios/blob/master/arcgis-ios-sdk-samples/Augmented%20reality/Navigate%20in%20AR/NavigateARNavigatorViewController.swift) is a similar sample that uses real world location (from Apple, `AGSCLLocationDataSource`) as data source.

While it doesn't need a list of simulated location points, it works pretty much the same as the `AGSSimulate

[2020-10-07 23:22] aliawais commented on #980
Thanks @yo1995
We were using the sample code for the from ArcGIS Demo example that was using AGSSimulatedLocationDataSource, the example was working fine few weeks back, but now the same code is not calling delegates. I am not sure which ArcGIS version was initially used but current one is 100.7 in which the delegates are not called.

To implement for real world example, i would change the network

[2020-10-07 23:32] aliawais commented on #980
@nixta
Can you help in why the delegates are not being called with the specifications given in first message. If thats is fixed i can update the data source and and stop and it should work.

[2020-10-07 23:38] yo1995 commented on #980
Thanks for reporting this. We received a similar [issue](https://community.esri.com/thread/260981-navigation) earlier today. Please wait for a more authoritative response from Nick. 🙂

[2020-10-09 02:42] aliawais commented on #980
The sample works fine with SDK 100.6 but not with SDK 100.7. We were supporting iOS 11 onwards so that latest SDK we can use was 100.7. However we decided to use the latest SDK 100.9 and support iOS 12 onwards.

[2020-10-09 03:34] aliawais commented on #980
Not sure what the issue is, I created new projects one with SDK 100.6 (iOS 11.0+) and one with SDK 100.9 (iOS 12.0+) copied 'NavigateRouteViewController' and 'NavigateRoute.storyboard' sample works fine in both projects.
But when I copy the files to actual project it shows the route draws lines but does navigate nor does show text at top. Any idea?

[2020-10-09 04:09] nixta commented on #980
Do you have any other code controlling the location display or grabbing the AGSLocationChangeHandlerDelegate? It seems like that connection may be getting disconnected.

[2020-10-09 04:19] aliawais commented on #980
No for this screen. The issue i found is if I comment the code setting the license key the sample works. I hope for the actual project I just need to change stops and data source.

[2020-10-09 04:25] nixta commented on #980
Ah. Navigation does require a Basic level license or higher.

Nick Furness
Esri | Product Manager: ArcGIS Runtime SDKs
________________________________
From: aliawais <notifications@github.com>
Sent: Friday, October 9, 2020 12:19:48 AM
To: Esri/arcgis-runtime-samples-ios <arcgis-runtime-samples-ios@noreply.github.com>
Cc: Nicholas Furness <NFurness@esri.com>; Mention <mention@noreply.github.com>
S

[2020-10-09 18:24] yo1995 commented on #980
@aliawais Hope your issue is resolved.

With your (Lite) license, could you add the code below to the `AGSLocationChangeHandlerDelegate` of the sample code? It should display the error message when location get updated.

[code]

Thanks.

[2020-10-12 03:25] aliawais commented on #980
@nixta
Have pasted code for my **setNavigation** function

[code]

**trackingLocationDataSource** is initialised as
`let trackingLocationDataSource = AGSCLLocationDataSource()`

its delegate is set in a function called from **viewDidLoad()** as
[code]

**AGSLocationChangeHandlerDelegate** function `func locationDataSource(_ locationDataSource: AGSLocationDataSource, locationDidChange location: AGS

[2020-10-12 04:03] nixta commented on #980
Have you confirmed you are using a Basic or higher license?

[2020-10-12 04:05] aliawais commented on #980
Yes we have a license, and its set in AppDelegate

[code]

[2020-10-12 04:14] nixta commented on #980
And you are certain it is not a Lite license? When you add the code @yo1995 provided above, you do see an error reported?

If you like, please DM me the license key over at GeoNet.

The Navigation API requires Basic license or higher. This has always been a requirement but was not technically enforced until 100.7.

[2020-10-12 04:27] aliawais commented on #980
It shows 'Attempt to use an unlicensed extension'

[2020-10-12 11:40] nixta commented on #980
Right. You need to use a Basic level license key to use the Navigation API.

See https://developers.arcgis.com/ios/latest/swift/guide/license-your-app.htm for more details.

[2020-11-19 12:37] dinkermalhotra opened #1006 "Map loading issue"
https://github.com/Esri/arcgis-runtime-samples-ios/blob/master/arcgis-ios-sdk-samples/Edit%20data/Edit%20and%20sync%20features/EditAndSyncFeaturesViewController.swift

Does not load the map and making a selection makes the app crash.

[2020-11-19 12:49] #1006 closed

[2020-11-19 12:53] minakshibh opened #1007 "Map does not load"
https://github.com/Esri/arcgis-runtime-samples-ios/blob/master/arcgis-ios-sdk-samples/Edit%20data/Edit%20and%20sync%20features/EditAndSyncFeaturesViewController.swift

EditAndSyncFeaturesViewController does not load the map and if I try to make the selection the app gets crashed.

[2020-11-19 16:57] yo1995 commented on #1007
Hi, could you provide more information? Thanks.

**Platform Information**

* Version of SDK:
* Version of iOS:
* Is it from the AppStore version or your own build:
* Device:

**Steps to Reproduce**

[2020-11-19 17:34] yo1995 commented on #968
Close due to inactivity. Feel free to reopen if the issue persists!

[2020-11-19 17:34] #968 closed

[2020-11-19 17:34] yo1995 commented on #465
Close due to inactivity. Feel free to reopen if the issue persists!

[2020-11-19 17:34] #465 closed

[2020-11-20 04:51] minakshibh commented on #1007
Version of SDK: 100.9
Version of iOS: 14.2
Is it from the AppStore version or your own build; which branch you are using: I am using this sample only.
Device: iPhone XS, iPhone X, Simulator.

This is my layer url: https://services.arcgis.com/455ANVnHBozNhUJX/arcgis/rest/services/FACILITIES/FeatureServer/0

[2020-11-20 18:08] yo1995 commented on #1007
Thanks for the details. I tried with the feature service [URL](https://services.arcgis.com/455ANVnHBozNhUJX/arcgis/rest/services/FACILITIES/FeatureServer/0) you provided above, and it seems not to support geodatabase sync operation. See the `Supported Operations` section in the bottom of the page. Could you verify that?

In terms of the map's crashing issue: this sample loads the basemap from a lo

[2020-11-23 03:02] aliawais opened #1012 "iOS WebMap"
Hi,

It is more of a question rather than an issue.

Is there still support for Webmap in iOS? If yes, if there is sample please provide.

I was looking at https://developers.arcgis.com/ios/10-2/swift/guide/viewing-web-map.htm it refers to using **AGSWebMap** which I cant find.

It redirects for sample on http://www.arcgis.com/home/item.html?id=d76ed99f71e24116b324ff624a194ef9 and the URL for the

[2020-11-23 19:00] yo1995 commented on #1012
Hi @aliawais , I'm not quite sure about your problem. Can you try to load a webmap with its portal item ID? e.g.

[code]

[2020-11-23 22:25] aliawais commented on #1012
Is portalItemId different from MapId?

Is there a complete sample using this approach and also showing/hiding available layers?

[2020-11-23 22:39] yo1995 commented on #1012
I think they are the same thing.

You may take a look at

- [Feature collection layer (portal item)](https://github.com/Esri/arcgis-runtime-samples-ios/tree/master/arcgis-ios-sdk-samples/Features/Feature%20collection%20layer%20(portal%20item))
- [Change sublayer visibility](https://github.com/Esri/arcgis-runtime-samples-ios/tree/master/arcgis-ios-sdk-samples/Layers/Change%20sublayer%20visibility)

[2020-11-23 22:42] aliawais commented on #1012
@yo1995 thank you.

I tried using the mapId with login and without login it did not work.

I will look into the samples and hope to find something we need.

[2020-11-23 22:44] yo1995 commented on #1012
Sure. Please feel free to reopen this issue if you've more questions, and I'll get you posted when I receive feedback regarding the `AGSWebMap` class.

[2020-11-23 23:43] nixta commented on #1012
@aliawais You could take a look at this sample: https://developers.arcgis.com/ios/latest/swift/sample-code/open-map-url/

That takes the URL to the item page for a web map in ArcGIS and opens it. Does that help?

[2020-11-23 23:45] yo1995 commented on #1012
As Nick indicated - In addition, consider taking a look at these 2 samples:

- [Open map (URL)](https://github.com/Esri/arcgis-runtime-samples-ios/tree/master/arcgis-ios-sdk-samples/Maps/Open%20map%20(URL))
    This sample opens 3 maps from ArcGIS Online.
- [Token authentication](https://github.com/Esri/arcgis-runtime-samples-ios/tree/master/arcgis-ios-sdk-samples/Cloud%20and%20portal/Token%20auth

[2020-11-23 23:59] aliawais commented on #1012
Thanks @nixta  and @yo1995  will definitely have a look into these.

[2020-11-24 03:12] aliawais commented on #1012
Thanks guys it worked: I used
let portal = AGSPortal.arcGISOnline(withLoginRequired: true)
        let portalItem = AGSPortalItem(portal: portal, itemID: _mapId_)
        let map = AGSMap(item: portalItem)

If i have the authentication token how can I avoid the popup?

[2020-12-01 03:08] aliawais commented on #1012
@nixta  @yo1995
Hi guys,

I am loading the map using follwing:
[code]
where agsCredential are created using a token from API and referer that the app sends in request. The login popup still shows up for "You need to sign in to access www.arcgis.com"

If add another port as follows before the above code it works to load layers and map.
[code]

But when I try to fetch basemaps using code below it sh

[2020-12-01 11:56] nixta commented on #1012
What is the portalURL? And please provide details on how you’re getting the token.

Building a credential using the token is a less common approach (and you should use the AGSAuthenticationManager challengeHandler pattern if you’re doing that, for seamless token refreshes).

It sounds to me like you might be getting a token from one portal and using it on another.

[2020-12-01 23:27] aliawais commented on #1012
Hi @nixta @yo1995

Before loading a map, the app makes calls one of our APIs and we pass a 'referer' in header. The API uses ESRI/ArcGIS service to obtain a token for the provided referer. Then API returns us a mapId, portalURL, token, tokenExpiry. The same API is used by our front-end (web).

JSON format of response:
{
  "gisBaseUrl": "portalURL",
  "token": {
    "token": "",
    "expires": 1606

[2020-12-02 00:31] nixta commented on #1012
There is a lot going on here, and it's not really relevant to this repo. Might be worth picking the conversation up over at the [iOS Runtime forum](https://community.esri.com/t5/arcgis-runtime-sdk-for-ios/bd-p/arcgis-runtime-sdk-for-ios-questions). But…

Firstly, a token obtained for `https://atlas.{client Name}.com` (which, by the looks of things, is an on-premise ArcGIS Enterprise instance) will

[2020-12-02 00:39] nixta commented on #1012
What is the URL that is being used to generate the token?

[2020-12-02 00:40] nixta commented on #1012
It could also be that the token is expired. If you use the username and password, Runtime will automatically get a new token if the old one expires.

[2020-12-02 00:52] aliawais commented on #1012
@nixta

Token is generated for each portal when it changes. The URL for one of them is
https://atlas.{clientName}.com/portal/sharing/rest/generateToken

The token is generated at time app make the call to our API, and its has an expiry of 24hours.

[2020-12-02 00:56] nixta commented on #1012
Then in the code above:

[code]

what is the `portalURL`? If it's not `atlas.{clientName}.com` or if the token was not obtained using credentials that authorize access to the `mapId` web map, then the credential will not work and you will be prompted.

[2020-12-02 00:59] aliawais commented on #1012
The token is generated for that portalURL which we get in the response and the mapId is associated with that token and portal.

The thing is when create agsCredetails using user name and password it works fine. Can you please link me to the sample using the Authentication manager.

[2020-12-02 01:06] nixta commented on #1012
Unfortunately we don't have an AuthenticationManager sample that covers using credentials with token.

One thought. You said this:

Is `agsCredential` the same when applied to both portals?

[2020-12-02 01:09] yo1995 opened #1019 "Strange storyboard ID in Group layers sample"
https://github.com/Esri/arcgis-runtime-samples-ios/blob/master/arcgis-ios-sdk-samples/Layers/Group%20layers/GroupLayersSectionView.xib#L27

On this line the destination ID of the connection seems to be a number, rather than a random unique ID. With the latest build tested by @saratchandrakarumuri , this UISwitch doesn't have effect (doesn't call the IBAction) when triggered.

https://github.com/Es

[2020-12-02 01:13] aliawais commented on #1012
I used that approach for portal https://{client Name}.maps.arcgis.com, and the agsCredential was same for arcGISOnline(withLoginRequired: true)

For portal https://atlas.{client Name}.com it works without the extra AGSPortal.arcGISOnline(withLoginRequired: true). And both the portal (https://atlas.{client Name}.com and https://{client Name}.maps.arcgis.com) have different token generated fro our A

[2020-12-02 01:23] nixta commented on #1012
To confirm:

This does NOT work:

Display a map from https://{client Name}.maps.arcgis.com.
[code]

This DOES work:

Display a map after loading the www.arcgis.com portal with a separate credential first:
[code]

[2020-12-02 01:28] aliawais commented on #1012
yes

[2020-12-02 17:50] #1019 closed

[2020-12-10 17:28] yo1995 commented on #1007
Close due to inactivity.

[2020-12-10 17:28] #1007 closed

[2020-12-15 03:26] aliawais commented on #1012
Posting my solution here, may its helpful for others.

Once our API returns the token it generated from ARCGisPortal, the controller sets its self as delegate to following `AGSAuthenticationManager.shared().delegate = self`

`AGSPortal` is created without setting its `AGSCredential` property and I do following:

[code]

Following is how I have handled one of the delegate methods

[code]

So now wh

[2020-12-15 03:26] #1012 closed

[2021-02-16 19:46] yo1995 commented on #359
This should have been fixed in the #986 PR.

[2021-02-16 19:46] #359 closed

[2021-04-20 16:31] yo1995 commented on #777
With #1059 , now the whole app is fully Dark Mode adaptive! 🎉

Close.

[2021-04-20 16:31] #777 closed

[2021-04-23 03:58] yo1995 opened #1064 "Questions about project config after moving to SPM"
It was a rush when we upgraded to use SPM in #1062 . Although the project built fine on Simulator, there are still a few config items that I want to make sure set correctly.

1. Should dependencies be empty?

![image](https://user-images.githubusercontent.com/9660181/115815397-bec13400-a3ab-11eb-990a-6ae7fa302257.png)

I think it should be empty, because SPM handles package resolving, and the tool

[2021-04-23 06:01] yo1995 commented on #1064
[code]

[2021-04-23 19:05] philium commented on #1064
Yes.

[2021-04-23 19:26] philium commented on #1064
Yes. This is the default value for newly created projects.

[2021-04-23 19:28] philium commented on #1064
Which version of Xcode are you using? I'm only seeing one copy of the framework inside the `Frameworks` directory when archiving with Xcode 12.0.

[2021-04-23 19:40] yo1995 commented on #1064
I'm using Xcode 12.4.1 (latest MAS version) and macOS 10.15.7 .
Just now I used a dummy app to test and it seems to work fine, so I'll try to clear `Derived Data` and do a clean build to see if it still happens... 😕

[2021-04-24 23:33] yo1995 commented on #1064
All mysteries resolved with Big Sur and Xcode 12.5

[2021-04-24 23:33] #1064 closed

[2021-05-17 09:21] kgb16 opened #1071 "This copy of libswiftCore.dylib requires an OS version prior to 10.14.4."
When i compile this example project on XCode, this error found:"This copy of libswiftCore.dylib requires an OS version prior to 10.14.4.". My Mac OS version is 10.15.7. So, any suggest?

[2021-05-17 16:39] yo1995 commented on #980
Please see the new sample code (#1070) for error handling. Feel free to re-open this issue if you have other questions.

[2021-05-17 16:39] #980 closed

[2021-05-17 16:54] yo1995 commented on #1071
Hi, can you please share which Xcode version are you using? i.e. Xcode version, CLI version, `xcode-select -p` output, etc.

[2021-05-18 01:33] kgb16 commented on #1071
Xcode 12.4
Build version 12D4e
/Applications/Xcode.app/Contents/Developer

[2021-05-18 02:33] yo1995 commented on #1071
Can you give this test app a try to see if it builds, and shows a topo map? Thanks.

[Test App.zip](https://github.com/Esri/arcgis-runtime-samples-ios/files/6497924/Test.App.zip)

[2021-05-18 06:59] kgb16 commented on #1071
使用您发的Test包可以正常编译运行。我发现两个包不一样的地方在于我这里跑example是按照：“Building Samples Using CocoaPods”指引来配置依赖库的。你所发的包是另外一种配置："Building Samples Using Swift Package Manager"

[2021-05-19 07:37] yo1995 commented on #1071
晚上我用自己电脑尝试了一下CocoaPods没遇到问题。明天我再新建一个项目，配置用pods安装SDK试试。请稍等

我的环境是

- OSX 15.7
- Xcode 12.4 (12D4e)
- CocoaPods 1.10.1 (`pod --version`)

[2021-05-20 06:58] kgb16 commented on #1071
新建项目是可以正常运行的，只是运行arcgis-runtime-samples-ios这个工程会报错

[2021-05-21 06:02] yo1995 commented on #1071
抱歉，还是没能复现。明天我再请同事帮忙试一试 😓

可以看一下这个帖子里的讨论，看看是否本地存在多个版本的Swift compiler？https://forums.swift.org/t/error-running-sourcekit-lsp-in-macos/26181/7

[2021-05-21 22:48] yo1995 commented on #1071
今天同事测试用pods编译成功。他的环境

- Big Sur
- Xcode 12.2
- iOS 14.2 iPad真机

他在更新pods时提示了

[code]

按照提示升级repo后能够build成功。

您是否有别的电脑可以测试编译呢？谢谢

[2021-06-11 11:58] yxliwhu opened #1078 "For the "Display Device Location with NMEA Data sources", Trimble R12 was not show in the list"

[2021-06-11 17:19] yo1995 commented on #1078
Hi,

Currently this sample supports 3 external Bluetooth devices: SXBlue, EOS and BadElf only for demonstrating purposes.

If you want to try out the Trimble device,

- either add the protocols to this section in `Info.plist`, i.e. `com.trimble.correction` and `com.trimble.command`

https://github.com/Esri/arcgis-runtime-samples-ios/blob/61c82de7f8d620cf7edb54e509f98c2f0606a713/arcgis-ios-sdk-samp

[2021-06-11 23:21] yo1995 commented on #1071
你好，问题有没有解决或者进展？谢谢～

[2021-06-16 02:31] yxliwhu commented on #1078
Thanks for the reply. Now the Trimble could connect to the iOS device. But I find the AGSNMEALocationDataSource seem to not update automatically. Anyone have test this new function in SDK 100.11?

[2021-06-16 03:00] yo1995 commented on #1078
Can you explain a bit more here? What do you mean by *not update automatically*? Do you mean

- The location indicator (blue dot) is not showing up
- No updates are provided by the `locationDidChange` delegate method
- The device is not pushing data to the location data source, etc.

Thanks.

[2021-06-16 04:36] yxliwhu commented on #1078
@yo1995 Sorry for the misunderstanding. For my case, there are no updates are provided by the locationDidChange delegate method. I think this problem maybe caused by the second reason you mentioned. Thanks for your help, I look forward for your response tomorrow.

[2021-06-16 21:26] yo1995 commented on #1078
While waiting for feedback, (having done some preliminary research) I found that Trimble R-series do work differently than the built-in support for EOS, SXBlue or BadElf (which only requires Bluetooth connection). It seems Trimble requires some config steps that possibly involve...

- Trimble Mobile Manager
- GNSS Configuration and some parameters
- Multiple bluetooth protocols included in `Info.p

[2021-06-17 18:50] yo1995 commented on #1078
@yxliwhu Just got feedback from Trimble folks. They explained that only Trimble R1 and R2 has partial NMEA output support in their firmware, but not the "non-GIS R-series receivers like the R10/12/12i". 😞  Therefore it seems it's currently not possible to use the Runtime NMEA APIs together with your Trimble R12.

Please let me know if you have further questions!

[2021-06-21 22:27] vquach2404 opened #1083 "Generate offline map (basemap by reference) bug"
While updating the TPK for this sample, I found that the sample does not behave as expected. This sample should prompt the user to select either a local or online basemap. However, the sample currently does not prompt the user.

[2021-06-22 01:01] yo1995 commented on #1083
Currently this filename is an empty string

https://github.com/Esri/arcgis-runtime-samples-ios/blob/61c82de7f8d620cf7edb54e509f98c2f0606a713/arcgis-ios-sdk-samples/Maps/Generate%20offline%20map%20(basemap%20by%20reference)/GenerateOfflineMapBasemapByReferenceViewController.swift#L74

![image](https://user-images.githubusercontent.com/9660181/122845609-f0c21a00-d2b8-11eb-9e47-0817c2620bf0.png)

The

[2021-06-28 21:52] yo1995 commented on #1078
Close due to inactivity. Feel free to reopen or create a new issue!

[2021-06-28 21:52] #1078 closed

[2021-06-28 21:53] yo1995 commented on #1071
Close due to inactivity. Feel free to reopen or create a new issue!

[2021-06-28 21:53] #1071 closed

[2021-09-01 11:59] AlanPew opened #1101 "OAuth 2.0 blocked by API key credentials"
Hi, I am currently using Oauth 2.0 to access a portal id that is not associated with my developer account using AGSPortal . Had trouble accessing this until I commented out the api license key authorization in the app delegate. Can now access the portalId and it displays on the app, but now shows "FOR DEVELOPER USE ONLY" because the api key was not authorized. The portal is accessed via AGSPortal

[2021-09-01 16:25] yo1995 commented on #1101
Hi Alan,

I'd suggest you to re-post this question on GeoNet: https://community.esri.com/t5/arcgis-runtime-sdk-for-ios-questions/bd-p/arcgis-runtime-sdk-for-ios-questions , so that our other developers may provide more insight. 🙂

In most cases, the API key does not conflict with OAuth 2.0, but it's recommended not to mix them up in your app. Read more about the security methods here: https://deve

[2021-09-02 18:54] yo1995 commented on #1101
Further info from our team:

If you set a global API key, then all [`AGSAPIKeyResource`](https://developers.arcgis.com/ios/api-reference/protocol_a_g_s_a_p_i_key_resource-p.html) objects will use it and won’t challenge for credentials.

Therefore, if your portal item is one of these classes, try to avoid using global API key, but only set API key on those resources that have nothing to do with you

[2021-09-03 12:58] AlanPew commented on #1101
Thank you so much for your detailed and quick response @yo1995!

When I uncommented out the application.license() call in the app delegate, it was calling      AGSArcGISRuntimeEnvironment.apiKey = .apiKey and getting this error message:

The API key '*xxxxxx' is invalid, expired, or does not have access to the resource:
- 'https://xxxxxxxxxxx/sharing/rest/content/items/xxxxxxxxxx'.
Please visit ht

[2021-09-03 12:58] #1101 closed

[2021-09-03 21:18] yo1995 commented on #1101
Glad to know that you've figured out the licensing options!

Sorry for this confusion 😅  it was a makeshift that I used in the last release to facilitate our daily development. With changes in #1092 and the [new release version 100.12.0.1](https://github.com/Esri/arcgis-runtime-samples-ios/releases/tag/v100.12.0.1) it shouldn't be a problem anymore!

You are welcome to open another issue or ask on

[2021-09-24 19:36] yo1995 opened #1108 "Redundant instance property"
https://github.com/Esri/arcgis-runtime-samples-ios/blob/e01005e0e94c28ba41a5d690867c6f3042b03ad0/arcgis-ios-sdk-samples/Maps/Map%20reference%20scale/MapReferenceScaleSettingsViewController.swift#L93

The `scaleObserver` property is not used in the sample. We can safely remove it.

[2021-10-08 22:42] #1108 closed

[2021-10-08 22:44] yo1995 opened #1112 "Add links to the categories in the README"
Like in toolkit README: https://github.com/Esri/arcgis-runtime-toolkit-ios, we may consider adding links to the https://github.com/Esri/arcgis-runtime-samples-ios#features section, to facilitate the navigation.

[2021-10-14 18:18] yo1995 opened #1114 "Simplify the remove-then-add process when toggle modes in `Toggle between feature request modes` sample"
https://github.com/Esri/arcgis-runtime-samples-ios/blob/087693cc975b06a1b17d6acba394813b4fcf971f/arcgis-ios-sdk-samples/Features/Toggle%20between%20feature%20request%20modes/ToggleFeatureRequestModesViewController.swift#L115

Please see Rachael's comment in `common-samples/pull/3104` .

[2022-01-07 00:53] yo1995 commented on #618
Close due to inactivity.

[2022-01-07 00:53] #618 closed

[2022-01-25 22:05] yo1995 opened #1136 "No additional information in README for `Create and save a map`"
https://github.com/Esri/arcgis-runtime-samples-ios/blob/0afcb9ac10b66177f04b00e01714e13e7a6ec867/arcgis-ios-sdk-samples/Maps/Create%20and%20save%20a%20map/CreateSaveMapViewController.swift#L51

Were we intended to add additional info in the README to explain why we unset the API key here? I cannot recall...

[2022-02-23 07:23] rameezhandel opened #1144 "[Feature] How can I create a heatmap ?"
**No documentation for creating heatmap.**

**Step by step documentation for creating heatmap**

**Still not found a solution**

[2022-02-23 20:31] yo1995 commented on #1144
Hi Rameez,

Runtime doesn't support creating a heatmap yet. You'll need to create the heatmap in ArcGIS Pro or ArcGIS Online, save it as a webmap or a feature layer, then display in Runtime.

For instance, if you want to display this public [Manhattan Coffee Heatmap](https://www.arcgis.com/home/item.html?id=67c10b4b5d3d4eab86b6aaf41d9dcba6)

[code]

[2022-02-24 06:34] rameezhandel commented on #1144
Thank you.

[2022-08-20 21:43] #1144 closed

[2022-08-22 21:50] yo1995 commented on #62
Close due to inactivity.

[2022-08-22 21:50] #62 closed

[2022-08-22 21:51] yo1995 commented on #407
Close due to inactivity.

[2022-08-22 21:51] #407 closed

[2022-08-22 21:52] yo1995 commented on #246
Close due to inactivity.

[2022-08-22 21:52] #246 closed

[2022-08-22 21:53] yo1995 commented on #27
Close due to inactivity.

[2022-08-22 21:53] #27 closed

[2022-08-22 21:53] yo1995 commented on #479
Close due to inactivity.

[2022-08-22 21:53] #479 closed

[2022-08-22 21:53] yo1995 commented on #1114
Close due to inactivity.

[2022-08-22 21:53] #1114 closed

[2022-08-22 21:54] yo1995 commented on #1136
Will fix in the new version if this sample is migrated, close due to inactivity.

[2022-08-22 21:54] #1136 closed

[2022-08-22 21:55] yo1995 commented on #1083
Do you think this bug is still worth fixing? If not, let's close all the remaining opened issues. 🙂

[2022-11-14 07:18] smixik opened #1200 "Cannot load features tables from image layer, when temp directory cleaned"
**Describe the Bug**

if we clean application temporary directory it is impossible to load features

on loadTablesAndLayers function

there is a sqlite error 1014

**Expected Behavior**

recreate arcgis temporary directory if it not exists

**Steps To Reproduce**

before execute loadTablesAndLayers remove all subdirectories in application tmp directory

**Reproducible Code**

[code]

**Additional

[2022-11-15 17:34] #1200 closed